.transition-default {
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.container {
  @apply fixed inset-x-0 top-0 z-20 flex justify-between items-center p-4;
}

@screen md {
  .container .section-links {
    @apply flex;
  }

  .container .menu {
    @apply opacity-100 transition-default;
  }

  .container:hover .menu {
    @apply h-0 opacity-0 transition-default;
  }

  .container .section-links div {
    cursor: pointer;
    box-sizing: content-box;
    @apply h-0 opacity-0 transition-default;
  }

  .container:hover .section-links div {
    padding: 0 0.6em;
    @apply h-4 opacity-100 transition-default;
  }
}

@screen lg {
  .container {
    @apply inset-x-auto inset-y-0 left-0 flex-col;
  }

  .container:hover .menu {
    @apply h-4;
  }

  .container .section-links {
    @apply flex-col;
  }

  .container:hover .section-links div {
    padding: 0.6em 0;
  }

  .container .section-links div:hover {
    color: theme("colors.primary.500");
    @apply transition-default;
  }
}
